<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= current_page.data.title || "Harvest House Farm" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
  <ul class="navbar">
    <%= nav_link 'Home', 'index.html' %>
    <%= nav_link 'Join', 'join.html' %>
    <%= nav_link 'WWOOF', 'wwoof.html' %>
    <%= nav_link 'FAQ', 'faq.html' %>
    <%= nav_link 'Photos', 'photos.html' %>
    <%= nav_link 'About', 'about.html' %>
  </ul>
    <%= yield %>
  </body>
</html>
